
// Global SCSS Variables for the entire project
$primary-color: #142d30;
$second-color: #a3854c;
// $primary-color: #082d30;
// $second-color: #C4A164;
$primary-white-color: rgba(16, 93, 99, 0.5) ;
$text-color: #110f0f;
$text-color-secondary: #525252;
$border-color: #EEEFEF;
$bady-font:  "Oswald", sans-serif;
$paragraph-font:  "Poppins", sans-serif;
$transition: all 1s ease-in-out;
$transition-fast: all 0.5s linear;
$border-radius: 8px;
$border: 1px solid $border-color;
$box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.02);

// $bady-font:  "Manrope", sans-serif;

// #525252  , #110f0f

// #105D63  ,  #C4A164

// $bady-font: "Poppins", sans-serif;
// $paragraph-font: "Roboto", sans-serif;
// trip sans font family not working ---> use default font family sans-serif