@use '../../../styles/variables.scss' as *;
.tour{
  h3{
    font-size: 18px;
    height: 45px;
    color: $text-color;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

  }
  figcaption{
    // height: 100px;

    .destinationBox{
      background-color:  rgba($second-color, 0.15);
      padding: 0.3rem 0.5rem;
      border-radius: $border-radius;
      color: $second-color;
      font-size: 14px;
      margin-right: 0.3rem;
    }

    .typeBox{
      background-color:  rgba($primary-color, 0.15);
      color: $primary-color;
    }

    .fontsm{font-size: 11px;}
  }

  &:hover{
    h3{color: $primary-color;}
    // figcaption{
    //   height: auto;
    // }
    // .mainBtn{
    //   transform: translateY(10%);
    // }

  }

  .mainBtn{
    transform: translateY(140%);
    transition: $transition;
  }
}
