@use '../../../styles/variables.scss' as *;
.destination-cart{
  figure{ 
    height: 250px; 
    transition: $transition; 

    figcaption{
      position: absolute;
      inset: 0;
      background:linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

      transform: translateY(15%);
      transition: $transition;
    }
    

    &:hover{
      figcaption{
        border-bottom: 4px solid $second-color;
        transform: translateY(0);
      }
    }
    
  }

}
