<app-banner
  [title]="'checkout.title' | translate"
  [subtitle]="'checkout.subtitle' | translate"
  [backgroundImage]="backgroundImage"
></app-banner>

<section class="my-5">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-8 order-2 order-lg-1">
        <div class="bg-light p-3 rounded-3 shadow-sm border">
          <div class="text-start">
            <h2 class="h3 fw-bold">{{ 'checkout.billingDetails' | translate }}</h2>
            <p class="fontsm">{{ 'checkout.billingDetailsDescription' | translate }}</p>
          </div>
          <form class="row g-3" [formGroup]="checkoutForm" (ngSubmit)="getCheckoutData()">
            <div class="col-md-6">
              <label for="first_name" class="form-label">{{ 'checkout.firstName' | translate }}</label>
              <input
                type="text"
                class="form-control"
                [class.is-invalid]="isFieldInvalid('first_name')"
                id="first_name"
                formControlName="first_name"
                [placeholder]="'checkout.firstName' | translate"
              />
            </div>
            <div class="col-md-6">
              <label for="last_name" class="form-label">{{ 'checkout.lastName' | translate }}</label>
              <input
                type="text"
                class="form-control"
                [class.is-invalid]="isFieldInvalid('last_name')"
                id="last_name"
                formControlName="last_name"
                [placeholder]="'checkout.lastName' | translate"
              />
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">{{ 'checkout.email' | translate }}</label>
              <input
                type="email"
                class="form-control"
                [class.is-invalid]="isFieldInvalid('email')"
                id="email"
                formControlName="email"
                [placeholder]="'checkout.email' | translate"
              />
            </div>
            <div class="col-md-6">
              <label for="phone" class="form-label">{{ 'checkout.phone' | translate }}</label>
              <input
                type="number"
                class="form-control"
                [class.is-invalid]="isFieldInvalid('phone')"
                id="phone"
                formControlName="phone"
                [placeholder]="'checkout.phone' | translate"
              />
            </div>
            <div class="col-md-6">
              <label for="state" class="form-label">{{ 'checkout.state' | translate }}</label>
              <input
                type="text"
                class="form-control"
                [class.is-invalid]="isFieldInvalid('state')"
                id="state"
                formControlName="state"
                [placeholder]="'checkout.state' | translate"
              />
            </div>
            <div class="col-md-6">
              <label for="country" class="form-label">{{ 'checkout.country' | translate }}</label>
              <select
                class="form-control"
                [class.is-invalid]="isFieldInvalid('country')"
                id="country"
                formControlName="country">
                <option value="" disabled selected>{{ 'checkout.selectCountry' | translate }}</option>
                @for (country of AllCountries; track $index) {
                <option [value]="country.name">{{ country.name }}</option>
                }
              </select>
            </div>
            <div class="col-12">
              <label for="notes" class="form-label">{{ 'checkout.notes' | translate }}</label>
              <textarea
                class="form-control"
                [class.is-invalid]="isFieldInvalid('notes')"
                id="notes"
                formControlName="notes"
                [placeholder]="'checkout.notes' | translate"
                rows="3"
              ></textarea>
            </div>

            <!-- [disabled]="!checkoutForm.valid || !haveData" -->
            <button [disabled]="!checkoutForm.valid || !haveData" type="submit" class="mainBtn w-100 mt-3">{{ 'checkout.submitOrder' | translate }}</button>
          </form>
        </div>
      </div>
      <div class="col-lg-4 order-1 order-lg-2">
        <div>
          <div class="text-start">
            <h2 class="h3 fw-bold">{{ 'checkout.orderSummary' | translate }}</h2>
            <p class="fontsm">{{ 'checkout.orderSummaryDescription' | translate }}</p>
          </div>
          <!-- cart   carousel -->
          @if (haveData) {
          <owl-carousel-o [options]="cartListOptions">
            @for (cart of CartData; track $index) {
            <ng-template carouselSlide>
              <div class="card">
                <figure>
                  <img [src]="cart.tour.featured_image" [alt]="cart.tour.title" class="img-fluid">
                </figure>
                <div class="card-body pt-0">
                  <h5 class="card-title">{{ cart.tour.title }}</h5>
                  <p class="card-text textMainColor fw-bold">{{ cart.tour.start_from | currency }}</p>
                </div>
              </div>
              <!-- <app-tour-cart [tour]="cart.tour"></app-tour-cart> -->
            </ng-template>
            }
          </owl-carousel-o>
          } @else {
          <p class="text-center text-danger">{{ 'checkout.noDataInCart' | translate }}</p>
          }

          <!-- total price before discount coupon -->
          <div class="flexBetween mt-4">
            <h6 class="mb-1">{{ 'checkout.totalPrice' | translate }}</h6>
            <h6 class="mb-1 textMainColor fw-bold">{{ getTotalPrice() | currency }}</h6>
          </div>

          <!-- discount coupon -->
          <div [formGroup]="checkoutForm" class="form-group flexBetween gap-3 my-3">
            <input
              type="text"
              class="form-control"
              id="coupon"
              formControlName="coupon_id"
              [placeholder]="'checkout.enterCouponCode' | translate"
            />
            <button type="button" class="btn secBtn flex-shrink-0" (click)="applyCoupon()">
              {{ 'checkout.apply' | translate }}
            </button>
          </div>

          <!-- total price after discount coupon -->
          @if (couponApplied) {
          <div class="flexBetween">
            <h6 class="mb-1">{{ 'checkout.totalPriceAfterDiscount' | translate }}</h6>
            <h6 class="mb-1 textMainColor fw-bold">{{ getTotalPrice() | currency }}</h6>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
